/* Styles généraux */
body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

.header-and-frame {
  position: relative;
  margin-top: 60px; /* Ajustez la marge selon vos besoins */
}

.banniere-article {
  width: 1270px;
  max-height: 300px; /* Ajustez la hauteur selon vos besoins */
  object-fit: cover; /* Pour conserver les proportions de l'image */
  margin-top: 90px; /* Ajustez la marge selon vos besoins */
}


.contenaire-article {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.titre-article {
  color: #333;
}

.ligne-separation {
  border-bottom: 2px solid #ddd;
  margin: 20px 0;
}

.contenu-article {
  color: #555;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .contenaire-article {
    padding: 10px;
  }

  .banniere-article {
    height: auto;
  }

  .titre-article {
    font-size: 24px;
  }

  .ligne-separation {
    margin: 10px 0;
  }

  .contenu-article {
    font-size: 14px;
  }
}

/* Ajout de styles pour le tableau responsive */
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}



/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .titre-article,
  .contenu-article {
    max-width: 73%; /* Limite la largeur du texte à 100% de la largeur du conteneur parent */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
  }

  .titre-article {
    font-size: 18px; /* Ajustement de la taille de la police pour les petits écrans */
  }

  .contenu-article {
    font-size: 12px; /* Ajustement de la taille de la police pour les petits écrans */
  }
  .banniere-article {
    width: 80%; /* Ajustez la largeur de l'image à 100% de la largeur du conteneur parent */
    max-height: auto; /* Ajustez la hauteur de l'image automatiquement en fonction de la largeur */
    object-fit: cover; /* Pour conserver les proportions de l'image */
  }

  
}
