

   /* Variables */
:root {
    --background-light: #98c1d9;
    --background-dark: #293241;
    --text-light: #98c1d9;
    --text-dark: black;
    --accent-light: #085e79;
    --accent-dark: #085e79;
  }
  
  /* Global */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    line-height: 1.6;
    font-family: 'Roboto', sans-serif; /* Utilisez la police que vous souhaitez tester */
  }
  
  span {
    color: var(--accent-dark);
  }
  
  .heading {
    font-size: 2.8rem;
    text-align: center;
    text-transform: capitalize;
    padding: 1rem;
  }
  
  .sub-heading {
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
  }
  
/* Nouveaux styles pour la navigation */
nav {
  background-color: #085e79;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;
  opacity: 0.9;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #085e79;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #fff; /* Nouvelle propriété pour l'arrière-plan rouge */
}

nav a:hover {
  background-color: grey;
  color: #073f50;
}

    
  /* Intro */
  
  .intro__logo {
    width: 300px; /* Ajustez cette valeur en fonction de vos besoins */
    height: auto; /* Ajuster la hauteur automatiquement pour maintenir le ratio */
    display: block;
    margin: 0 auto; /* Centrer le logo horizontalement */  
  }
  
  
  .intro {
    background-image: url("./public/bureau.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: 1rem;
    height: 780px;
    z-index: 100;
  }
  
  .intro__heading {
    font-size: 3.3rem;
    display: inline-block;
    color: var(--text-dark);
    letter-spacing: 0.2rem;
    margin-top: -45px; /* Ajustez cette valeur en fonction de vos besoins */
  }
  
  .intro__text {
    color: var(--text-dark);
    width: 40rem;
    background: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    background-clip: padding-box; /* Correction ici */
    padding: 1rem;
  
  }
  
  .intro__sub-heading {
    font-size: 1.4rem;
    color: #4d1d37;
  }
  
  
  /* Nouveaux styles pour les boutons */
    .contact-button-container {
      margin-top: 50px;  /* Ajustez la valeur de margin-top selon vos besoins pour déplacer le bouton verticalement */
  }
  
  .contact-button {
      background-color: #085e79;
      color: #fff;
      font-size: 16px;
      padding: 5px 20px;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      transition: background-color 0.3s ease-in-out;
      text-decoration: none; /* Empêche le surlignement du lien */
      display: inline-block; /* Permet d'appliquer le margin-top au conteneur */
  }
  
  .contact-button:hover {
      background-color: grey; /* Changement de couleur au survol */
  }
  
   /* services */
   .titre-services {
    text-align: center; /* Centre le texte horizontalement */
    font-size: 50px; /* Ajustez la taille du texte selon vos préférences */
    color: #085e79; 
  }
  
  .container {
    text-align: center;
    margin-left: 2px; /* Ajout de marge à gauche du conteneur */
    margin-right: 2px; /* Ajout de marge à droite du conteneur */
  }
  
  .block {
    position: relative;
    padding: 10px; /* Ajout de marges intérieures de 10px à tous les côtés du bloc */
    margin: 0;
    width: calc(33.333% - 20px); /* Ajustement de la largeur en conséquence */
    display: inline-block;
    box-sizing: border-box;
    height: 300px;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    filter: brightness(60%); /* Assombrit l'image à 70% */
    border-radius: 12px; /* Assurez-vous que le bord de l'image suit le même rayon que le bloc */
  }
  
  .centered-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    z-index: 2; /* Augmenté le z-index pour placer le titre au-dessus de l'image */
  }
  
  .block h2 {
    font-size: 28px;
    margin: 0;
    padding: 15px;
    color: #fff; /* Couleur vive */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease-in-out;
    min-width: fit-content;
    background-color: transparent !important;
  }
  
  .block:hover h2 {
    color: #d5d9db;
  }
  
   /* partie slogan*/
  
   .features-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }
  
  .feature {
    text-align: center;
    max-width: 250px;
  }
  
  .feature img {
    width: 100%;
    max-height: 80px;
    object-fit: contain;
    margin-bottom: 15px;
    filter: brightness(0.8) saturate(2) hue-rotate(190deg);
  }
  
  .feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #085e79;
  }
  
  .feature p {
    font-size: 18px;
    color: #073f50;
    line-height: 1.5;
  }
  
  /* Style amélioré pour le titre et le texte */
  .feature h2::before {
    content: '\201C'; /* Guillemet ouvrant élégant */
    font-size: 36px;
    color: #085e79; /* Couleur accrocheuse */
    margin-right: 5px;
  }
  
  .feature h2::after {
    content: '\201D'; /* Guillemet fermant élégant */
    font-size: 36px;
    color: #085e79;
    margin-left: 5px;
  }
  
  .feature p::before {
    content: '\201C';
    font-size: 18px;
    color: #085e79;
    margin-right: 5px;
  }
  
  .feature p::after {
    content: '\201D';
    font-size: 18px;
    color: #085e79;
    margin-left: 5px;
  }
  
  
  /* Image Scroll Section */
  .img-scroll {
    background-image: url("./public/scroll.png");
    min-height: 350px;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .img__heading {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    text-transform: uppercase;
    color: #4d1d37;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1rem;
  }
  
  
  /* partie reference clients*/
  
  @-webkit-keyframes s_scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 8));
        transform: translateX(calc(-250px * 8));
    }
  }
  
  @keyframes s_scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 8));
        transform: translateX(calc(-250px * 8));
    }
  }
  
  .slider {
    background: white;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .slider::before,
  .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0; /* Ajustement pour que le dernier logo parte de la droite */
    top: 0;
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slider .slide-track {
    -webkit-animation: s_scroll 10s linear infinite;
    animation: s_scroll 10s linear infinite;
    display: flex;
    width: calc(250px * 24); /* 8 logos à afficher, donc multiplier par 16 */
  }
  
  .slider .slide {
    height: 100px;
    width: 250px;
  }
  
  .slider .slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  
  /* Partie formulaire de contact */
  /* Ajoutez cette classe pour créer une grille */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  /* Partie formulaire de contact */
  #contact-form {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
  }
  
  .contact-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  #contact-form h2 {
    background-color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  #contact-form form {
    display: grid;
    gap: 20px;
  }
  
  .form-group {
    position: relative;
  }
  
  #contact-form input,
  #contact-form select,
  #contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  #contact-form select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path d="M1 5l7 7 7-7H1z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
  }
  
  #contact-form button {
    background-color: #fff;
    color: #085e79;
    padding: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 18px;
  }
  
  #contact-form button:hover {
    background-color: grey;
  }
  
  #formMessage {
    margin-top: 20px;
    font-size: 16px;
    color: #28a745;
  }
  
    /* ... case à cocher  ... */
  
  #contact-form form .checkbox-label {
    display: flex;
    align-items: flex-start; /* aligne le haut de la case à cocher avec le haut du texte */
    margin-left: -90px; /* ajustez cette valeur selon vos besoins */
  
  }
  
  #contact-form form .checkbox-text {
    margin: 0; /* supprime toute marge autour du texte */
    margin-left: -90px; /* ajustez cette valeur selon vos besoins */
    font-family: Arial, sans-serif; /* utilise une police plus professionnelle */
    line-height: 1.5; /* augmente l'espacement entre les lignes pour une meilleure lisibilité */
    color: #0a2831; /* Couleur du texte */
    position: relative; /* Permet de positionner le texte au-dessus du pseudo-élément */
    z-index: 1; /* Place le texte au-dessus du pseudo-élément */
    font-size: 18px;
    text-align: left; /* Aligne le texte à gauche */
  }
  
  #contact-form {
    background: url('./public/contact.png') center/cover no-repeat;
    padding: 50px 0;
    text-align: center;
    color: #fff; /* Ajoutez la couleur de texte souhaitée, par exemple, blanc (#ffffff) */
    position: relative; /* Nécessaire pour positionner le calque d'ombre */
  }
  
  
  #contact-form::before {
    content: ''; /* Contenu vide nécessaire pour créer un pseudo-élément */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent noir */
    z-index: -1; /* Place le pseudo-élément en dessous du contenu principal */
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  
  .container-grille {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
  }
  /* Nouveau style pour le footer */
  footer {
    background-color: #073f50;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    font-size: 12px;
    margin-bottom: 10px;
  }
/* Ajoutez ce style dans votre fichier CSS ou balise style */
.footer-links a {
  font-size: 14px; /* Ajustez la taille de la police selon vos préférences */
}

  
  footer a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
  }
  
  footer a:hover {
    color: grey; /* Changement de couleur au survol */
  }
  
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #0e76a8 ; /* Changement de couleur au survol */
  }
  
  
  
  
  
  /****************************************************************************/
  
  @media screen and (min-width: 700px) and (max-height: 600px) { 
  
    
        /* Ajustez la taille de la police pour le titre dans le header */
    .header h1 {
        font-size: 3vw; /* Ajustez la taille selon vos préférences */
        margin-top: 3vw; /* Déplace le bloc vers le bas de 220px */
    }
  
    /* Ajustez la taille de la police pour le slogan dans le header */
    .header p {
        font-size: 1.4vw; /* Ajustez la taille selon vos préférences */
        margin-top: 3vw; /* Déplace le bloc vers le bas de 220px */
    }
    
    .logo img {
        max-width: 250px; /* Ajustez la taille du logo selon vos besoins */
        height: auto;
    }
    .details {
    
        width: 100%; /* Ajustez cette valeur en fonction de vos besoins */
    }
    
    .check-icon {
        position: relative;
        width: 50%;
        height: 30px;
    }
    
  }
  
  
  /* Media query pour les écrans de 768px x 1024px */
  @media (min-width: 768px) and (max-width: 1024px) {
    /* Ajustez la taille de la police pour le titre dans le header */
    .header h1 {
        font-size: 4vw; /* Ajustez la taille selon vos préférences */
        margin-top: 7vw; /* Déplace le bloc vers le haut */
    }
  
    /* Ajustez la taille de la police pour le slogan dans le header */
    .header p {
        font-size: 2.1vw; /* Ajustez la taille selon vos préférences */
        margin-top: 5vw; /* Déplace le bloc vers le haut */
        max-width: 80%; /* Ajustez la largeur maximale selon vos besoins */
        margin: 0 auto; /* Ajout d'une marge automatique pour centrer horizontalement */
    }
  
  
    .logo img {
        margin-top: 2vw; /* Déplace le bloc vers le bas de 220px */
        max-width: 200px; /* Ajustez la taille du logo selon vos besoins */
        height: auto;
  
    }
  
    .details-container {
        display: none; /* Masquer l'élément */
    }
    
    .details {
        display: none; /* Masquer l'élément */
    }
    
    .check-icon {
        display: none; /* Masquer l'élément */
    }
  
    nav a {
        font-size: 12px;
    }
    footer {
        font-size: 13px;
        width: 95%;
            }
  
    }
  
    /* Media query pour les écrans de320px x 480px */
    @media (max-width: 320px) and (max-height: 480px){
        nav a {
            font-size: 10px;
        }
    }
  
    
  
       /* Media query pour les écrans de 390px x 844px */
       @media (max-width: 390px) and (max-height: 844px){
        
                /* Ajustez la taille de la police pour le titre dans le header */
            .header h1 {
                font-size: 5vw; /* Ajustez la taille selon vos préférences */
                margin-top: 7vw; /* Déplace le bloc vers le haut */
            }
  
  
            .logo img {
                margin-top: 11vw; /* Déplace le bloc vers le bas de 220px */
                max-width: 120px; /* Ajustez la taille du logo selon vos besoins */
                height: auto;
  
            }
            /* Ajustez la taille de la police pour le slogan dans le header */
            .header p {
                font-size: 2.3vw; /* Ajustez la taille selon vos préférences */
                margin-top: 5vw; /* Déplace le bloc vers le haut */
                max-width: 80%; /* Ajustez la largeur maximale selon vos besoins */
                margin: 0 auto; /* Ajout d'une marge automatique pour centrer horizontalement */
            }
  
  
            .contact-button {
                font-size: 20px;
                padding: 10px 25px;
                border-radius: 15px;
                font-size: 12px;
                margin-top: -10vw; /* Déplace le bloc vers le bas de 220px */
            }
  
  
            .details-container {
            display: none; /* Masquer l'élément */
            }
            
            .details {
                display: none; /* Masquer l'élément */
            }
            
            .check-icon {
                display: none; /* Masquer l'élément */
            }
  
            nav a {
                font-size: 10px;
            }
  
            .block {
                position: relative; /* Change la position à relative pour positionner les enfants de manière absolue par rapport à celui-ci */
                width: 100%;
                margin: 0;
                display: block;
                height: auto;
                border-radius: 12px;
                overflow: hidden; /* Assurez-vous que le contenu débordant est caché */
            }
  
            .block img {
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center center;
                filter: brightness(60%);
                border-radius: 12px;
            }
  
            .centered-title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: #333;
                z-index: 2;
                width: 100%; /* Assurez-vous que le titre occupe toute la largeur du parent */
            }
  
            .block h2 {
                font-size: 20px; /* Ajustez la taille du titre pour l'iPhone SE */
                margin: 0;
                padding: 10px;
                color: #fff;
                border-radius: 8px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                transition: color 0.3s ease-in-out;
                min-width: fit-content;
                background-color: transparent !important;
            }
  
            .block:hover h2 {
                color: #d5d9db;
            }
            .features-section {
                display: block; /* Passer à l'affichage en bloc pour les petits écrans */
                text-align: center;
                margin-top: 20px;
            }
  
            .feature {
                max-width: 250px;
                margin: 0 auto 30px; /* Centrer les éléments et ajouter une marge inférieure */
            }
  
            .feature img {
                width: 100%;
                max-height: 80px;
                object-fit: contain;
                margin-bottom: 15px;
                filter: brightness(0.8) saturate(2) hue-rotate(190deg);
            }
  
            .feature h2 {
                font-size: 20px; /* Ajustez la taille du titre pour l'iPhone SE */
                margin-bottom: 10px;
                color: #085e79;
            }
  
            .feature p {
                font-size: 16px; /* Ajustez la taille du texte pour l'iPhone SE */
                color: #073f50;
                line-height: 1.5;
            }
  
            /* Style amélioré pour le titre et le texte */
            .feature h2::before,
            .feature h2::after,
            .feature p::before,
            .feature p::after {
                content: none; /* Désactiver les guillemets élégants pour les petits écrans */
            }
  
  
            .contact-container {
                max-width: 300px;
                margin: 0 auto;
            }
  
            #contact-form form .checkbox-text {
                font-family: 'Arial', sans-serif; /* Utilise une police plus professionnelle */
                line-height: 1.2; /* Augmente l'espacement entre les lignes pour une meilleure lisibilité */
                font-size: 12px;
                text-align: left; /* Aligne le texte à gauche */
                margin-left: -10px; /* ajustez cette valeur selon vos besoins */
            }
            
            #contact-form form .checkbox-label {
  
                margin-left: -40px; /* ajustez cette valeur selon vos besoins */
            } 
  
            footer {
                padding: 10px;
            }
            footer p {
                font-size: 13px;
                margin-bottom: 10px;
                }
            footer {
                font-size: 12px;
                width: 95%;
                    }
            }    
        /* Media query pour les écrans de 430px x 932px */
        @media (max-width: 430px) and (max-height: 932px){
                    
            /* Ajustez la taille de la police pour le titre dans le header */
            .header h1 {
            font-size: 5vw; /* Ajustez la taille selon vos préférences */
            margin-top: 7vw; /* Déplace le bloc vers le haut */
            }
  
  
            .logo img {
            margin-top: 11vw; /* Déplace le bloc vers le bas de 220px */
            max-width: 120px; /* Ajustez la taille du logo selon vos besoins */
            height: auto;
  
            }
            /* Ajustez la taille de la police pour le slogan dans le header */
            .header p {
            font-size: 2.3vw; /* Ajustez la taille selon vos préférences */
            margin-top: 5vw; /* Déplace le bloc vers le haut */
            max-width: 80%; /* Ajustez la largeur maximale selon vos besoins */
            margin: 0 auto; /* Ajout d'une marge automatique pour centrer horizontalement */
            }
  
  
            .contact-button {
            font-size: 20px;
            padding: 10px 25px;
            border-radius: 15px;
            font-size: 12px;
            margin-top: -10vw; /* Déplace le bloc vers le bas de 220px */
            }
  
  
            .details-container {
            display: none; /* Masquer l'élément */
            }
  
            .details {
            display: none; /* Masquer l'élément */
            }
  
            .check-icon {
            display: none; /* Masquer l'élément */
            }
  
            nav a {
            font-size: 10px;
            }
  
            .block {
            position: relative; /* Change la position à relative pour positionner les enfants de manière absolue par rapport à celui-ci */
            width: 100%;
            margin: 0;
            display: block;
            height: auto;
            border-radius: 12px;
            overflow: hidden; /* Assurez-vous que le contenu débordant est caché */
            }
  
            .block img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center center;
            filter: brightness(60%);
            border-radius: 12px;
            }
  
            .centered-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #333;
            z-index: 2;
            width: 100%; /* Assurez-vous que le titre occupe toute la largeur du parent */
            }
  
            .block h2 {
            font-size: 20px; /* Ajustez la taille du titre pour l'iPhone SE */
            margin: 0;
            padding: 10px;
            color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: color 0.3s ease-in-out;
            min-width: fit-content;
            background-color: transparent !important;
            }
  
            .block:hover h2 {
            color: #d5d9db;
            }
            .features-section {
            display: block; /* Passer à l'affichage en bloc pour les petits écrans */
            text-align: center;
            margin-top: 20px;
            }
  
            .feature {
            max-width: 250px;
            margin: 0 auto 30px; /* Centrer les éléments et ajouter une marge inférieure */
            }
  
            .feature img {
            width: 100%;
            max-height: 80px;
            object-fit: contain;
            margin-bottom: 15px;
            filter: brightness(0.8) saturate(2) hue-rotate(190deg);
            }
  
            .feature h2 {
            font-size: 20px; /* Ajustez la taille du titre pour l'iPhone SE */
            margin-bottom: 10px;
            color: #085e79;
            }
  
            .feature p {
            font-size: 16px; /* Ajustez la taille du texte pour l'iPhone SE */
            color: #073f50;
            line-height: 1.5;
            }
  
            /* Style amélioré pour le titre et le texte */
            .feature h2::before,
            .feature h2::after,
            .feature p::before,
            .feature p::after {
            content: none; /* Désactiver les guillemets élégants pour les petits écrans */
            }
  
  
            .contact-container {
            max-width: 300px;
            margin: 0 auto;
            }
  
            #contact-form form .checkbox-text {
            font-family: 'Arial', sans-serif; /* Utilise une police plus professionnelle */
            line-height: 1.2; /* Augmente l'espacement entre les lignes pour une meilleure lisibilité */
            font-size: 12px;
            text-align: left; /* Aligne le texte à gauche */
            margin-left: -10px; /* ajustez cette valeur selon vos besoins */
            }
  
            #contact-form form .checkbox-label {
  
            margin-left: -40px; /* ajustez cette valeur selon vos besoins */
            } 
  
            footer {
            padding: 10px;
            }
            footer p {
            font-size: 13px;
            margin-bottom: 10px;
            }
            footer {
            font-size: 12px;
            width: 95%;
                }
            }    
  
  
        /* Media query pour les écrans de 672px x 254px */
         @media (max-width: 672px) and (max-height: 254px){
            .logo img {
                margin-top: -1vw; /* Déplace le bloc vers le bas de 220px */
    
            }
            }
  
            /* Media query pour les écrans de 280px x 653px */
            @media (max-width: 280px) and (max-height: 653px){
  
            /* Ajustez la taille de la police pour le titre dans le header */
            .header h1 {
                margin-top: 11vw; /* Déplace le bloc vers le haut */
                font-size: 1.2vw; /* Ajustez la taille selon vos préférences */
                    }
            
            .logo img {
                margin-top: 3vw; /* Déplace le bloc vers le bas de 220px */
    
            }
  
            }
  
        /* Media query pour les écrans de 412px x 914px */
         @media (max-width: 412px) and (max-height: 944px){
            /* Ajustez la taille de la police pour le slogan dans le header */
            .header h1 {
                margin-top: 11vw; /* Déplace le bloc vers le haut */
                    }
            .header p {
                font-size: 2.8vw; /* Ajustez la taille selon vos préférences */
                margin-top: 5vw; /* Déplace le bloc vers le haut */
                max-width: 80%; /* Ajustez la largeur maximale selon vos besoins */
  
                }
            .logo img {
                    margin-top: 8vw; /* Déplace le bloc vers le bas de 220px */
                }
            .logo img {
                    max-width: 150px; /* Ajustez la taille du logo selon vos besoins */
                }
                
                }
        
        /* Media query pour les écrans de 1024px x 600px */
         @media (max-width: 1024px) and (max-height: 600px){
            
            .header h1 {
            margin-top: 5vw; /* Déplace le bloc vers le haut */
                }
    
            .logo img {
                margin-top: 1vw; /* Déplace le bloc vers le bas de 220px */
            }
            .logo img {
                max-width: 250px; /* Ajustez la taille du logo selon vos besoins */
            }
            
            }
  
        /* Media query pour les écrans de 1280px x 800px */
        @media (max-width: 1280px) and (max-height: 800px){
        
            .header h1 {
                margin-top: 2vw; /* Déplace le bloc vers le haut */
            }
           /* Ajustez la taille de la police pour le slogan dans le header */
            .header p {
                font-size: 1.2vw; /* Ajustez la taille selon vos préférences */
                margin-top: 3vw; /* Déplace le bloc vers le bas de 220px */
            }
       
            .logo img {
                margin-top: 0vw; /* Déplace le bloc vers le bas de 220px */
            }
            .logo img {
                max-width: 250px; /* Ajustez la taille du logo selon vos besoins */
            }
            
            }
        /* Media query pour les écrans de 360px x 740px */
        @media (max-width: 360px) and (max-height: 740px){
        
            /* Ajustez la taille de la police pour le titre dans le header */
            .header h1 {
                font-size: 5vw; /* Ajustez la taille selon vos préférences */
                margin-top: 7vw; /* Déplace le bloc vers le haut */
            }
  
  
            .logo img {
                margin-top: 11vw; /* Déplace le bloc vers le bas de 220px */
                max-width: 120px; /* Ajustez la taille du logo selon vos besoins */
            }
            /* Ajustez la taille de la police pour le slogan dans le header */
            .header p {
                font-size: 2.3vw; /* Ajustez la taille selon vos préférences */
                margin-top: 5vw; /* Déplace le bloc vers le haut */
                max-width: 80%; /* Ajustez la largeur maximale selon vos besoins */
                margin: 0 auto; /* Ajout d'une marge automatique pour centrer horizontalement */
            }
  
  
            .contact-button {
                font-size: 20px;
                padding: 10px 25px;
                border-radius: 15px;
                font-size: 12px;
                margin-top: -10vw; /* Déplace le bloc vers le bas de 220px */
            }
    
  
          .details-container {
        display: none; /* Masquer l'élément */
        }
        
        .details {
            display: none; /* Masquer l'élément */
        }
        
        .check-icon {
            display: none; /* Masquer l'élément */
        }
    
        nav a {
            font-size: 10px;
        }
  
        .block {
            position: relative; /* Change la position à relative pour positionner les enfants de manière absolue par rapport à celui-ci */
            width: 100%;
            margin: 0;
            display: block;
            height: auto;
            border-radius: 12px;
            overflow: hidden; /* Assurez-vous que le contenu débordant est caché */
        }
    
        .block img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center center;
            filter: brightness(60%);
            border-radius: 12px;
        }
    
        .centered-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #333;
            z-index: 2;
            width: 100%; /* Assurez-vous que le titre occupe toute la largeur du parent */
        }
    
        .block h2 {
            font-size: 20px; /* Ajustez la taille du titre pour l'iPhone SE */
            margin: 0;
            padding: 10px;
            color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: color 0.3s ease-in-out;
            min-width: fit-content;
            background-color: transparent !important;
        }
    
        .block:hover h2 {
            color: #d5d9db;
        }
        .features-section {
            display: block; /* Passer à l'affichage en bloc pour les petits écrans */
            text-align: center;
            margin-top: 20px;
        }
    
        .feature {
            max-width: 250px;
            margin: 0 auto 30px; /* Centrer les éléments et ajouter une marge inférieure */
        }
    
        .feature img {
            width: 100%;
            max-height: 80px;
            object-fit: contain;
            margin-bottom: 15px;
            filter: brightness(0.8) saturate(2) hue-rotate(190deg);
        }
    
        .feature h2 {
            font-size: 20px; /* Ajustez la taille du titre pour l'iPhone SE */
            margin-bottom: 10px;
            color: #085e79;
        }
    
        .feature p {
            font-size: 16px; /* Ajustez la taille du texte pour l'iPhone SE */
            color: #073f50;
            line-height: 1.5;
        }
    
        /* Style amélioré pour le titre et le texte */
        .feature h2::before,
        .feature h2::after,
        .feature p::before,
        .feature p::after {
            content: none; /* Désactiver les guillemets élégants pour les petits écrans */
        }
  
  
        .contact-container {
            max-width: 300px;
            margin: 0 auto;
        }
  
        #contact-form form .checkbox-text {
            font-family: 'Arial', sans-serif; /* Utilise une police plus professionnelle */
            line-height: 1.2; /* Augmente l'espacement entre les lignes pour une meilleure lisibilité */
            font-size: 12px;
            text-align: left; /* Aligne le texte à gauche */
            margin-left: -10px; /* ajustez cette valeur selon vos besoins */
        }
        
        #contact-form form .checkbox-label {
  
            margin-left: -40px; /* ajustez cette valeur selon vos besoins */
        } 
    
        footer {
            padding: 10px;
        }
        footer p {
            font-size: 13px;
            margin-bottom: 10px;
            }
        footer {
            font-size: 12px;
            width: 95%;
                }
        }    
  
    /* Media query pour l'iPhone SE */
    @media (max-width: 375px) and (max-height: 667px) {
        
    /* Ajustez la taille de la police pour le titre dans le header */
    .header h1 {
        font-size: 10vw; /* Ajustez la taille selon vos préférences */
        margin-top: 20vw; /* Déplace le bloc vers le bas de 220px */
    }
    
    /* Ajustez la taille de la police pour le slogan dans le header */
    .header p {
        font-size: 3.1vw; /* Ajustez la taille selon vos préférences */
        margin-top: 10vw; /* Déplace le bloc vers le bas de 220px */
        max-width: 80%; /* Ajustez la largeur maximale selon vos besoins */
        margin: 0 auto; /* Ajout d'une marge automatique pour centrer horizontalement */
    }
    .logo img {
        margin-top: 9vw; /* Déplace le bloc vers le bas de 220px */
        max-width: 150px; /* Ajustez la taille du logo selon vos besoins */
    }
    .contact-button {
        font-size: 20px;
        padding: 10px 25px;
        border-radius: 15px;
        font-size: 12px;
        margin-top: -5vw; /* Déplace le bloc vers le bas de 220px */
    }
    footer {
  
      width: 100%;
    }
  
    .intro {
      height: 800px;
  
    }
    .intro__heading{
      font-size: 21px;
    }
  
    .intro__sub-heading{
      font-size: 20px;
    }
    
  
  }
  
  
        /* Media query pour les écrans de 540px x 720px */
    @media (max-width: 540px) and (max-height: 720px) {
          
      /* Ajustez la taille de la police pour le titre dans le header */
      .header h1 {
          font-size: 10vw; /* Ajustez la taille selon vos préférences */
          margin-top: 10vw; /* Déplace le bloc vers le bas de 220px */
      }
      
      /* Ajustez la taille de la police pour le slogan dans le header */
      .header p {
          font-size: 3.1vw; /* Ajustez la taille selon vos préférences */
          margin-top: 10vw; /* Déplace le bloc vers le bas de 220px */
          max-width: 80%; /* Ajustez la largeur maximale selon vos besoins */
          margin: 0 auto; /* Ajout d'une marge automatique pour centrer horizontalement */
      }
    
      .contact-button {
          font-size: 20px;
          padding: 10px 25px;
          border-radius: 15px;
          font-size: 12px;
          margin-top: -5vw; /* Déplace le bloc vers le bas de 220px */
      }
    
    }
  
    /*Media Queries*/
    @media screen and (min-width: 320px) and (max-width: 768px) {
    
    
      .img__heading {
        top: 25%;
        width: 100%;
        text-transform: uppercase;
        font-size: 1.7rem;
        letter-spacing: 0.5rem;
      }
    
      .intro__text {
        width: 100%;
        margin: 1rem 0 0 0;
        border-radius: 0px;
      }
    
      .intro__heading {
        font-size: 2.5rem;
        text-align: center;
        padding-bottom: 1rem;
      }
    
      .intro__text-heading {
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 1rem;
      }
    
      .box-1,
      .box-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: polygon(100% 0, 100% 100%, 0 95%, 0 5%);
        padding-bottom: 1.5rem;
      }
    
      .box-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: polygon(100% 5%, 100% 95%, 0 100%, 0 0%);
        padding-bottom: 1.5rem;
      }
    
      .box__text {
        min-width: 100%;
      }
    
      .contact {
        height: 630px;
        font-size: 1.3rem;
      }
    
      .contact__info {
        padding: 1rem;
      }
    
      .contact__info-heading {
        font-size: 2rem;
      }
      .footer__top {
        flex-direction: column;
        text-align: center;
      }
      .footer__bottom {
        padding: 0.8rem;
      }
      footer svg {
        top: -4rem;
        height: 65px;
      }
    }
    
    /* CSS pour les écrans avec une largeur maximale de 1080px */
    @media only screen and (max-width: 1080px) {
    .img__heading {
        top: 25%;
        width: 100%;
        text-transform: uppercase;
        font-size: 1.7rem;
        letter-spacing: 0.5rem;
    }
    
    .intro__text {
        width: 100%;
        margin: 1rem 0 0 0;
        border-radius: 0px;
    }
    
    .intro__heading {
        font-size: 2.5rem;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .intro__text-heading {
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .box-1,
    .box-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: polygon(100% 0, 100% 100%, 0 95%, 0 5%);
        padding-bottom: 1.5rem;
    }
    
    .box-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: polygon(100% 5%, 100% 95%, 0 100%, 0 0%);
        padding-bottom: 1.5rem;
    }
    
    .box__text {
        min-width: 100%;
    }
    
    .contact {
        height: 630px;
        font-size: 1.3rem;
    }
    
    .contact__info {
        padding: 1rem;
    }
    
    .contact__info-heading {
        font-size: 2rem;
    }
    
    .footer__top {
        flex-direction: column;
        text-align: center;
    }
    
    .footer__bottom {
        padding: 0.8rem;
    }
    
    footer svg {
        top: -4rem;
        height: 65px;
    }
  }

  footer {
    width: 100%;
        }
  nav a {
    font-size: 10px;
        }
  


    /* CSS pour les écrans avec une hauteur maximale de 2400px */
    @media only screen and (max-height: 2400px) {
        /* Vous pouvez ajouter ici des styles spécifiques pour les écrans avec une hauteur maximale de 2400px */
    }
